.component{
 width: 85%;
 display: flex;
 flex-direction: column;
 align-items: center;
 width: fit-content; 
 position: relative;
 transform-origin: top;
 left: 50%;
 top:100px;
}


.bg-color{
 background-image: url('/assets/1x/headerImg.jpg');
 background-repeat: no-repeat;
 background-position: center;
 width: 1200px;
 height: 320px;
}

.wrap{
 padding-top: 50px;
 display: flex;
 width:1200px ;
}

.section{
 margin-top: 20px;
 padding: 20px;
 width: 65%;
}

.hello{
 font-weight: 800;
 color: black;
 letter-spacing: 1px;
 font-size: 2rem;
 padding-bottom: 20px;
}

.text_1{
 font-size: 1rem;
 line-height: 1.5rem;
 color: #464242;
 font-weight: 500;
 letter-spacing: 0.03rem;
}

.data{
 width: 400px;
}

.question-text{
 margin:80px 0;
}

.title{
 font-weight: 600;
 color: black;
 letter-spacing: 1px;
 font-size: 1.7rem;
}

.question-text ul{
 list-style: none;
}

.question{
 display: inline-block;
 color: black;
 font-size: 1.3rem;
 font-weight: bold;
 cursor: pointer;
 line-height: 2.6rem;
 border-bottom: 1px dashed ;
 translate: 0.5s;
}

.question:hover{
 color: #db033b;
}

.label{
 color: #464242;
 font-size: 1.1rem;
 line-height: 1.4rem;
 letter-spacing: 0.01rem;
}

.bl{
 display: block;
}

.asck{
 height: 38px;
 line-height: 38px;
 font-size: 1.7em;
 padding: 5px 20px;
 background: #ec0845;
 -webkit-border-radius: 20px;
 -moz-border-radius: 20px;
 border-radius: 20px;
 color: white;
 outline: none;
 margin-left: 40px;
 font-size: 1.3rem;
}

.bottom-article{
  margin-bottom: 30px;
}

.silka{
 display: inline-block;
 margin-left: 20px;
}

.contackat{
 padding: 20px;
}

.ofis-contackt{
 display: flex;
 margin-bottom: 30px;
}

.addres{
 font-weight: bold;
 color: gray;
}

.city{
  margin-top: -15px;
}

@media (max-width:768px){
    .component{
     height: 1200px;
    }
    .text_1{
     letter-spacing: 1px;
     line-height: 35px;
     font-size: 28px;
    }

    .question{
     font-size: 28px;
     letter-spacing: 1px;
     line-height: 65px;
    }

    .label{
     font-size: 25px;
     letter-spacing: 1px;
     line-height: 50px
    }
}

@media (max-width:425px){
    .component{
     height: 900px;
    }

    .text_1{
     letter-spacing: 2px;
     line-height: 40px;
     font-size: 40px;
    }
   
    .question{
     font-size: 38px;
     letter-spacing: 1px;
     line-height: 75px;
    }
   
    .label{
     font-size: 45px;
     letter-spacing: 3px;
     line-height: 60px;
    }
}