<ngx-spinner bdColor="rgba(0, 0, 0, 0.3)" size="medium" color="#fff" type="ball-spin">
    <p style="color: white"> Loading... </p>
</ngx-spinner>
<div class="file">
    <input type="file" id="img" name="img" #file accept=".jpg, .jpeg, .png,.gif" (change)="hendler($event)">
    <button class="upload" (click)='trigger(file)'>{{ 'ImgMenu.upload' | translate }}</button>
</div>
<div class="my-img">
    <div class="box">
        <div *ngFor='let img of frames.fileList' class="files">
            <div>
                <img *ngIf="isZoom else image" class="img" [nzSrc]="img.image" nz-image >
                <ng-template #image>
                    <img class="img" [src]="img.image" (click)="change(img)">
                </ng-template>
                <span mat-button class="preview-remove" (click)="openDialog(img.id)">
                    &times;
                </span>
            </div>
        </div>
        <button class="upload more" *ngIf="count !== frames.fileList.length" (click)="myImages()">
            {{'Menu.user.showMore'|translate}}
        </button>
    </div>

    <p class="text" *ngIf='isSmsErr'>{{msgErr_hy}}</p>
</div>