<div class="modal-header">
    <h4 class="color">
        {{'Order.userData.changePassword'|translate}}
    </h4>
    <button type="button" class="btn-close close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span class="spanClose">&#10006;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="newPassword">
        <div class="password-form">
            <app-password formControlName="oldPass" [label]="'Order.userData.oldPassword'"></app-password>
           
            <app-password formControlName="newPass" [label]="'Order.userData.newpassword'"></app-password>
            
            <app-password formControlName="repeat_password" [label]="'Order.userData.passwordReset'"></app-password>

        </div>
    </form>
    <p class="error">
        {{this.responseErrore}}
    </p>
</div>
<div class="modal-footer">
    <button type="button" mat-raised-button class="login-form-button" (click)="changePassword()">
        {{'Order.userData.update'|translate}}
    </button>
</div>