.mat-form{
  width: 297px;
}

.eye {
  position: absolute;
  top: 5%;
  left: 90%;
  cursor: pointer;
  font-size: 12px;
}

.errors-content{
  height: 20px;
  text-align: start;
  margin-top: -15px;
  /* margin-bottom: 10px; */
}

.error{
  color: tomato;
  font-size: 10px;
  margin: -15px 0 0 0;
}

.repeat{
  margin-top: 5px;
}


@media (max-width:991px){
  .errors-content{
    height: 30px;
  }
}