<mat-form-field  appearance="fill" class="mat-form">
    <!-- {{'Order.userData.password'|translate}} -->
    <mat-label class="label">{{label|translate}}</mat-label>
    <input (blur)="showBlur()" (input)="changeValue($event)" [value]="value" matInput type='password'
        [type]="isShow?'text':'password'" trim>
    <fa-icon *ngIf="!isShow" (click)="showEye()" class="icon action" [icon]="faEyeLowVision" class="eye">
    </fa-icon>
    <fa-icon *ngIf="isShow" (click)="showEye()" [icon]="faEye" class="eye"></fa-icon>
</mat-form-field>

<div class="errors-content">
    <ng-container *ngIf="control?.control?.touched || !control?.control?.pristine">
        <p *ngIf="control?.control?.errors?.required" class="error">
            {{'ErroreMessage.required'|translate}}
        </p>
        <p class="error" *ngIf="control.control?.errors?.minlength">
            {{'ErroreMessage.minlength'|translate}}
            {{control.control?.errors?.minlength.requiredLength}}
        </p>
        <p  *ngIf="control?.control?.errors?.confirmedValidator" class="error repeat">
            {{'ErroreMessage.noRepeat'|translate}}
        </p>
    </ng-container>
</div>