
.underFridge{
 height: 100%;
 width: 100%;
 padding: 30px 0 0 0;
 background: url('src/assets/1x/fridge_right.jpg') no-repeat 100% 0;
}

.imgColor{
 justify-content: flex-end;
}

.letter input{
 background: transparent;
 outline: none;
}

input:focus::placeholder{
 opacity: 0;
} 

.btn{
 position: relative;
 left: -260px;
}

@media (max-width:1200px){
 
    .magnit{
        width: 80%;
    }
}

@media (max-width:1024px){
    .center{
     display: block;
     margin: 150px 0 0 35%;
    }

    .magnit{
        width: 70%;
    }
}

@media (max-width:769px){
    .center{
     margin-top: 150px;
    }
}