.conteiner{
 padding:20px;
 background-image: url('/assets/1x/bg8.jpg');
 position: relative;
 top:10px;
}

.catalog{
 display: flex;
 border-radius: 40px;
 background: rgba(255,255,255,0.5);
 width: fit-content;
 padding: 0 90px;
 position: relative;
 left: 50%;
 top:20px;
}

.carusel{
 width: fit-content;
 margin-left: -15px;
}

.imageObject{
 display: flex;
 list-style: none;
 width: fit-content;
}

.thumb-image{
 width: 86px;
 height: 36px;
 cursor: pointer;
 position: relative;
}

.img-frame{
 width: 60px;
 height: 36px;
 margin-top: 10px;
 transition: 0.1s;
}

.card {
 display: none;
 position: absolute;
 background-color: white;
 list-style: none;
 z-index: 1000;
 border-radius: 10px;
 left: 0;
 top:0;
}

.imageObject li:hover .card{
 top: 140%;
 display: block;
}

.card li{
 width: 380px;
}

.backgrounds{
 display: flex;
 padding: 2% 4% 0 4%;
 margin-left: 20px;
 width: fit-content;
}

.white{
 height: 67%;
 margin-left: 5px;
 cursor: pointer;
 position: relative;
 width: 35px;
}

.text{
 position: absolute;
 left: -5px;
 top:130%;
 background-color: white;
 border-radius: 10px;
 width: 90px;
 text-align: center;
 padding: 5px;
 display: none;
}

.white:hover .text{
 display: block;
}
 
/* RAMKA */
.block{
 left: 50%;
 top:80px;
}

.message{
 color: red;
 font-size: 20px;
 font-weight: 300;
 letter-spacing: 1px;
}


::ng-deep app-order .wrap{
 background-color: white;
 width: fit-content;
 margin-top: 140px ;
 padding-top: 60px;
 display: flex;
 width: fit-content;
 box-shadow: 3px 2px 22px 0 rgb(87 87 87);
}

.steps{
 background: white;
 display: flex;
 justify-content: center;
 padding: 70px 0;
 width: 100%;
}

.wrap1,.wrap2{
 display: flex;
 justify-content: space-between;
}

.step-content{
 padding: 20px;
 text-align: center;
}

.compile,.select,.get,.donate{
 background-position: center;
 background-size: 100% 100%;
 width: 50px;
 height: 50px;
 margin: 20px auto;
}

.compile{
 background-image:url("/assets/1x/steps/bulb.png");  
}

.title h2{
 font-weight: bold;
 letter-spacing: 1px;
}

.paragraph p{
 font-weight: 600;
 letter-spacing: 0.1rem;
 color: #212020;
}

.select{
 background-image:url("/assets/1x/steps/frame.png");
}

.get{
 background-image:url("/assets/1x/steps/minibus.png");
}

.donate{
 background-image:url("/assets/1x/steps/giftbox.png");
}

.right-arrow{
 background-image:url("/assets/1x/right-arrow.png");
 background-position: center;
 background-size: 100% 100%;
 width: 20px;
 height: 20px;
 margin: 80px auto;
}

@media (max-width:1025px){
    .create-bottom{
     position: absolute;
     left: 40%;
    }
}
@media (max-width:768px){

    .steps{
     width: 80%;
     flex-direction: column;
     margin: 0 auto;
    }

    .right-arrow{
     display: none;
    }

    .wrap2{
     margin-left: -60px;
    } 

}

@media (max-width:550px){

    .wrap1,.wrap2{
     display: flex;
     flex-direction: column;
    }

    .wrap2{
     margin-left: 0;
    }

    .step-content{
     display: flex;

    }

    .select,.get,.donate,.compile{
     margin:0 10px 0 0;
    }
    
    .info-block{
     display: flex;
     flex-direction: column;
     margin: 0 auto;
    }

    .title h2 {
     letter-spacing: 0;
     font-size: 16px  !important;
    }

    .paragraph p{
     letter-spacing: 0;
     font-weight: normal;
    }
}

@media (max-width:426px){
    .block{
     top:60px;
    }

    .create-bottom{
     position: absolute;
     left: 28%;
     top: -878px;
    }

    .bg-fone{
     width: 150px;
    }
}

@media (max-width:376px){

    .create-bottom{
     position: absolute;
     left: 20%;
    }

}

@media (max-width:376px){
    .create-bottom{
     position: absolute;
     left: 20%;
     top:-948px
    }
}
