<header class="conteiner" [ngStyle]="conteinerHeight()">
  <ngx-spinner bdColor="rgba(0, 0, 0, 0.3)" size="medium" color="#fff" type="ball-spin">
    <p style="color: white"> Loading... </p>
  </ngx-spinner>
  <div class="catalog" [ngStyle]="setStyle()">
    <div class="carusel">
      <ul class="imageObject">
        <li *ngFor="let img of frames?.framesImge,let i=index" class="thumb-image">
          <div [style.background-image]="'url('+img?.show_image + ')'" (click)='frameClick(img.id)' class="img-frame">
            <div [ngClass]="{'box-content': getFrameId(img)}" class="box"></div>
          </div>
          <ul class="card">
            <li *ngIf='frames.lang==="hy"'>{{img.description_hy}}</li>
            <li *ngIf='frames.lang==="ru"'>{{img.description_ru}}</li>
            <li *ngIf='frames.lang==="en"'>{{img.description_en}}</li>
            <li><span *ngIf='frames.lang==="hy"'>{{img.name_hy}}</span>
              <span *ngIf='frames.lang==="ru"'>{{img.name_ru}}</span>
              <span *ngIf='frames.lang==="en"'>{{img.name_en}}</span>
              {{img.price}} {{'_order._inform-img._price'|translate}}
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="backgrounds">
      <div class="white" *ngFor="let item of frames.div" [style.backgroundColor]='item.color' (click)="changeBg(item)"
        [ngClass]="{'box-content':frames.background.id=== item.id}">
        <div class="text">{{item.name}}</div>
      </div>
    </div>
    <div class="imgColor">
      <div class="colorless" [style.backgroundColor]='block.values.color' *ngFor='let block of frames.imgColor'
        (click)="imgFone(block)" [ngClass]="{'box-content':block?.ceys?.id=== frames?.painding?.id}">
        <div class="lessWhite" [style.backgroundColor]='block.values.child'>
          <p class="info" *ngIf='frames.lang==="hy"'>{{block?.ceys?.name_hy}}</p>
          <p class="info" *ngIf='frames.lang==="ru"'>{{block?.ceys?.name_ru}}</p>
          <p class="info" *ngIf='frames.lang==="en"'>{{block?.ceys?.name_en}}</p>
        </div>
      </div>
    </div>
  </div>
  <div #block class="block" [ngStyle]="setStyle()">
    <router-outlet></router-outlet>
  </div>
  <div class="buttonWrap">
    <table>
      <tr>
        <td class="aside"></td>
        <td class="center">
          <div>
            <b></b>
            <button type="submit" (click)='onSubmit()' class='makeAWord_3' *ngIf='frames.isImg'>
              {{'_img-text-valid._create-word'|translate}}
            </button>
            <button class="makeAWord_3 save" (click)='frames.myOrder()' [ngStyle]="buttonWrapTopSave()"
              *ngIf='!frames.isOrder && !frames.isImg'>
              {{'_img-text-valid._batn-save'|translate}}
            </button>
            <button *ngIf='frames.isOrder' class="makeAWord_3 create-bottom" [ngStyle]="buttonWrapTop()"
              (click)="showFrame()">{{'_img-text-valid._order-add'|translate}}</button>
            <!-- [ngStyle]="buttonWrapTop()" -->
          </div>
        </td>
        <td class="aside"></td>
      </tr>
    </table>
  </div>


</header>
<div class="steps">
  <div class="wrap1">
    <div class="step-content">
      <div class="compile"></div>
      <div class="info-block">
        <div class="title">
          <h2>{{'_steps._compile'|translate}}</h2>
        </div>
        <div class="paragraph">
          <p>{{'_steps._text1'|translate}}</p>
        </div>
      </div>
    </div>
    <div class="right-arrow"></div>
    <div class="step-content mg">
      <div class="select"></div>
      <div class="info-block">
        <div class="title">
          <h2>{{'_steps._select'|translate}}</h2>
        </div>
        <div class="paragraph">
          <p>{{'_steps._text2'|translate}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="wrap2">
    <div class="right-arrow"></div>
    <div class="step-content">
      <div class="get"></div>
      <div class="info-block">
        <div class="title">
          <h2>{{'_steps._get'|translate}}</h2>
        </div>
        <div class="paragraph">
          <p>{{'_steps.text3'|translate}}</p>
        </div>
      </div>
    </div>
    <div class="right-arrow"></div>
    <div class="step-content">
      <div class="donate"></div>
      <div class="info-block">
        <div class="title">
          <h2>{{'_steps._donate'|translate}}</h2>
        </div>
        <div class="paragraph">
          <p>{{'_steps.text4'|translate}}</p>
        </div>
      </div>
    </div>
  </div>
</div>