<ngx-spinner bdColor="rgba(0, 0, 0, 0.3)" size="medium" color="#fff" type="ball-spin">
    <p style="color: white"> Loading... </p>
</ngx-spinner>
<div class="conteiner">
  
    <nav class="bar">
        <h2 class="title">{{'IdeaImg.navTitle'|translate}}</h2>
        <ul routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <li >
                <a (click)="ideaGroup()" [style.color]="id===0?'red':'black'" >{{'IdeaImg.all'|translate}}</a></li>
            <li *ngFor='let item of frameIdeas'  >
                <a (click)="ideaGroup(item.id)" [style.color]="id==item.id?'red':'black'" >
                    <span *ngIf='frames.lang==="hy"' >{{item.name_hy}}</span>
                    <span *ngIf='frames.lang==="ru"'>{{item.name_ru}}</span>
                    <span *ngIf='frames.lang==="en"'>{{item.name_en}}</span>
                </a>   
            </li>
        </ul>
    </nav>
    <router-outlet></router-outlet>
</div>