.body{
 background-color: rgba(187, 182, 182, 0.945) ;
}

.wrap{
 width: 1200px; 
 transform-origin: top;
 display: flex;
 flex-direction: column;
 box-shadow: 3px 2px 10px 0 rgb(87 87 87);
 margin: 50px 0 250px 50%;
}

.login-form{
  display: flex;
  justify-content: space-around;
}

.title-h1{
  padding-top: 15px;
  margin: 0 auto;
}

.title-h1 h1{
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 40px;
  font-weight: 500;
  color: #d8bc89;
}

.title{
 color: rgb(111 110 110);
 text-align: center;
}

.data{
 display: flex;
 justify-content: space-between;
}

.letter-length{
 width: 250px;
 font-weight: 700;
 font-size: 14px;
 letter-spacing: 0.5px;
}

.ant-form-item {
  margin: 0 0 5px !important;
}

.smoll{
 font-size: 0.7rem;
 color: #5a646d;
}

.data p {
 margin:0 0 0 1% ;
}

.detalis-sum{
  width: 80px;
}

.add-sum{
 width: 50px;
 font-weight: 700;
 font-size: 11px;
 padding-left: 10px;
}

.ant-input {
 border-radius: 10px !important;
 width: 280px !important;
 margin-left: 37px !important;
}

.ant-btn-primary {
  display: block;
 width: 280px !important;
 border-radius: 10px;
 margin: 50px auto;
}

.version-info {
 font-size: 1rem;
 float: right;
 margin: 8px;
}
  
.region{
 display: flex;
 flex-wrap: wrap;
 height: 50px;
}

.erroreCountry{
 margin-top: -30px;
}

.left{
  margin-left: 45px;
  font-size: 12px;
}

.ant-select {
 width: 280px;
 border-radius: 10px;
 margin-bottom: 30px;
}

::ng-deep .order-item .ant-select-arrow {
  left: 105% !important;
}

::ng-deep .order-item .ant-select-clear {
  left: 105% !important;
}

.noText{
  height:calc( 100vh - 270px );
}

.noText h3{
 margin: 100px 0 0 100px;
 font-weight: 800;
}

.symbol{
 margin-left: 15px;
 cursor: pointer;
 font-weight: bold;
 font-size: 16px;
 color: black;
}

.ant-form {
 font-weight: 800 !important;
}

::ng-deep.order-item .ant-form-item-control-inputnt-form-item{
  width: 400px !important;
}


::ng-deep.ant-form-item-control-input-content {
  flex: auto;
  max-width: 100%;
}

.ant-form-item-label {
  display: inline-block;
  flex-grow: 1 !important;
  overflow: visible !important;
  text-align: right;
  vertical-align: middle;
}

::ng-deep.ant-form-item-label>label {
  font-size: 11px !important;
  width: 180px !important;
}

::ng-deep .order-item .ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 10px !important;
  width: 280px !important;
  margin-left: 37px !important;
}

.sum{
 color: red;
 font-size: 1.5rem;
 font-weight: bold;
 letter-spacing: 1px;
 text-align: center;
}

.red{
 color: red;
 margin-left: 140px;
 letter-spacing: 0.5px;
}

.order-message{
 margin-top: 100px;
 font-size: 20px;
 font-weight: 800;
 color: red
}

.shipping{
  margin-top: -30px;
} 

.saleSum{
  display: flex;
}

@media (max-width:1260px){
  .sum{
    margin-left: 5%;
    font-size: 16px;
  }
}

@media (max-width:1024px){
  .wrap{
    margin: 50px 0 200px 50%;
  }
}

@media (max-width:769px){
  .wrap{
    /* margin: 50px 0 0 50%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    /* height: 960px; */
  }

  .login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title-h1 {
    padding-top: 50px;
    margin: 20px auto;
  }

  .title-h2{
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
  }

  .ant-btn-primary{
    margin: 50px 0 30px 140px !important;
  }

  .user-data{
    padding: 50px 0 0 20px;
    width: 500px; 
    order: 2;
  }

  .order{
    padding: 0;
  }

  .data{
    font-size: 14px;
  }

  .letter-length {
    width: 300px;
    font-size: 18px;
  }

  .add-sum{
    width: 80px;
    font-size: 18px;
  }

  .sum{
    left: 200px;
    top:20px
  }

  .smoll{
    font-size: 12px;
  }
  ::ng-deep.ant-form-item-label>label {
    font-size: 12px !important;
  }

  ::ng-deep.ant-input{
    border-radius: 10px !important;
    width: 280px !important;
    margin-left: 70px !important;
  }


}

@media (max-width:426px){
  ::ng-deep.ant-form-item-label>label {
    left: -50% !important;
  }

  .wrap{
    width: 500px;
  }

}

@media (max-width:376px){
  .wrap{
    width: 350px;
  }
}


@media (max-width:376px){
 .wrap{
   width: fit-content;
 }

}