.body{
 background-color: rgba(187, 182, 182, 0.945) ;
}

.wrap{
 width: fit-content;
 display: flex;
 transform-origin: top;
 box-shadow: 3px 2px 10px 0 rgb(87 87 87);
 background-color: white;
 font-size: 1.1rem;
 margin: 50px 0 100px 50%;
}

.user-data{
 padding: 50px 0 0 20px;
 width: 400px;
}
.order{
 text-align: center;
 padding: 50px 10px 0 10px;
 width: 400px;
}

.title{
 color: rgb(111 110 110);
}

.data{
 display: flex;
 justify-content: space-around;
 font-size: 12px;
}

.smoll{
 font-size: 0.7rem;
 color: #5a646d;
 padding: 5px;
}

.data p {
 margin:0 0 0 1% ;
 font-weight: 500;
}

.ant-input {
 border-radius: 10px !important;
 width: 280px !important;
}

.ant-btn-primary {
 width: 280px !important;
 border-radius: 10px;
 margin: 0 0 50px 100px;
}

.version-info {
 font-size: 1rem;
 float: right;
 margin: 8px;
}
  
.region{
 display: flex;
}

.erroreCountry{
 margin-top: -20px;
}

.ant-select {
 width: 280px;
 border-radius: 10px;
 margin-bottom: 30px;
}

.noText{
 margin: 100px 0 0 100px;
 font-weight: 800;
}

.symbol{
 margin-left: 15px;
 cursor: pointer;
 font-weight: bold;
 font-size: 16px;
 color: black;
}



.ant-form {
 font-weight: 800 !important;
 padding-top: 50px !important;
 width: 400px !important;
}

::ng-deep.ant-form-item{
  width: 400px !important;
}
::ng-deep.ant-form-item-control-input-content {
  flex: auto;
  max-width: 100%;
}

::ng-deep.ant-form-item-label>label {
  font-size: 8px !important;
  width: 180px !important;
}

::ng-deep.ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 10px !important;
  width: 280px !important;
}

.sum{
 color: red;
 font-size: 1.5rem;
 font-weight: bold;
 letter-spacing: 1px;
 margin-top: 50px;
}
.red{
 color: red;
 margin-left: 130px;
 letter-spacing: 0.5px;
}

.order-message{
 margin-top: 100px;
 font-size: 20px;
 font-weight: 800;
 color: red
}

.shipping{
  margin-top: -30px;
}

@media (max-width:1024px){
  .wrap{
 
    margin: 50px 0 200px 50%;
   }
}
@media (max-width:426px){
    /* .wrap{
     margin-top:300px;
    } */
}