.body{
 background-color: rgba(187, 182, 182, 0.945) ;
}

.content{
  display: flex;
  background-color: white;
}

.wrap{
 width: fit-content;
 transform-origin: top;
 display: flex;
 flex-direction: column;
 box-shadow: 3px 2px 10px 0 rgb(87 87 87);
 margin: 50px 0 250px 50%;
}

.title-h1{
  padding-top: 50px;
  margin: 0 auto;
}

.title-h1 h1{
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 40px;
  font-weight: 500;
  color: #d8bc89;
}

.user-data{
 padding: 50px 0 0 20px;
 width: 450px;
 height: 740px;
}

.order-block{
  min-height: 400px;
}

.user-order{
  margin-left: 40px;
}

.order{
 /* text-align: center; */
 padding: 50px 10px 0 10px;
 width: 400px;
 /* margin-top: 30px; */
}

.title{
 color: rgb(111 110 110);
 text-align: center;
}

.data{
 display: flex;
 justify-content: space-between;
 width: 380px;
}

.letter-length{
 width: 250px;
 font-weight: 700;
 font-size: 11px;
 letter-spacing: 0.5px;
}

.smoll{
 font-size: 0.7rem;
 color: #5a646d;
 padding: 5px;
}

.data p {
 margin:0 0 0 1% ;
}

.detalis-sum{
  width: 80px;
}

.add-sum{
 width: 50px;
 font-weight: 700;
 font-size: 11px;
 padding-left: 10px;
}

.ant-input {
 border-radius: 10px !important;
 width: 280px !important;
 margin-left: 37px !important;
}

.ant-btn-primary {
 width: 280px !important;
 border-radius: 10px;
 margin: 0 0 50px 140px;
}

.version-info {
 font-size: 1rem;
 float: right;
 margin: 8px;
}
  
.region{
 display: flex;
 flex-wrap: wrap;
}

.erroreCountry{
 margin-top: -20px;
}

.left{
  margin-left: 45px;
}

.ant-select {
 width: 280px;
 border-radius: 10px;
 margin-bottom: 30px;
}

::ng-deep.ant-select-arrow {
  left: 105% !important;
}

::ng-deep.ant-select-clear {
  left: 105% !important;
}

.noText{
 margin: 100px 0 0 100px;
 font-weight: 800;
}

.symbol{
 margin-left: 15px;
 cursor: pointer;
 font-weight: bold;
 font-size: 16px;
 color: black;
}

.ant-form {
 font-weight: 800 !important;
 /* padding-top: 50px !important; */
 width: 400px !important;
}

::ng-deep.ant-form-item{
  width: 400px !important;
}

::ng-deep.ant-form-item-control-input-content {
  flex: auto;
  max-width: 100%;
}

.ant-form-item-label {
  display: inline-block;
  flex-grow: 1 !important;
  overflow: visible !important;
  text-align: right;
  vertical-align: middle;
}

::ng-deep.ant-form-item-label>label {
  font-size: 11px !important;
  width: 180px !important;
}

::ng-deep.ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 10px !important;
  width: 280px !important;
  margin-left: 37px !important;
}

.sum{
 color: red;
 font-size: 1.5rem;
 font-weight: bold;
 letter-spacing: 1px;
 margin-top: 50px;
 text-align: center;
}

.red{
 color: red;
 margin-left: 130px;
 letter-spacing: 0.5px;
}

.order-message{
 margin-top: 100px;
 font-size: 20px;
 font-weight: 800;
 color: red
}

.shipping{
  margin-top: -30px;
}

@media (max-width:1024px){
  .wrap{
    margin: 50px 0 200px 50%;
  }
}

@media (max-width:769px){
  .wrap{
    margin: 50px 0 0 50%;
    width: 700px;
  }

  .title-h1 {
    padding-top: 50px;
    margin: 20px auto;
  }

  .title-h2{
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
  }

   .content{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  } 

  .user-data{
    padding: 50px 0 0 20px;
    width: 500px; 
    order: 2;
  }

  .order{
    padding: 0;
    /* width: 600px; */
  }

  .data{
    font-size: 14px;
  }

  ::ng-deep.ant-form-item-label>label {
    font-size: 12px !important;
  }

  ::ng-deep.ant-input{
    border-radius: 10px !important;
    width: 280px !important;
    margin-left: 70px !important;
  }
}

@media (max-width:426px){
  ::ng-deep.ant-form-item-label>label {
    left: -50% !important;
  }

  .wrap{
    width: 500px;
  }

}

@media (max-width:376px){
  .wrap{
    width: 350px;
  }
}


@media (max-width:376px){
 .wrap{
   width: fit-content;
 }

}