<div class="conteiner" #block  [ngStyle]="setStyle()">
    <div class="idea-image" [style.background-image]="'url('+ frames?.ideaImg.image + ')'">
    </div>
    <div class="info-img">
        <h4 class="title">{{'_idea-img._img-title'|translate}} {{frames?.ideaImg.created_frame_category_details?.name_hy}}</h4>
        <p class="text">{{'_idea-img._name'|translate}} {{frames?.ideaImg?.word}} </p>
        <p class="text">{{frames?.ideaImg?.frame_details?.name_hy}}</p>
        <p class="text">{{'_idea-img._img-phone'|translate}} {{frames?.ideaImg?.background_details?.name}}</p>
        <p class="text">{{frames?.ideaImg?.price}}{{'_order._inform-img._price'|translate}} <span><button class="order"
                    (click)="addOrder()">{{'_order._user-data._btn-order'|translate}}</button></span></p>
        <p class="text">{{'_idea-img._your-name'|translate}} <span><button class="myFrame"
                    [routerLink]="''">{{'_menu.konstruktor._konstr'|translate}}</button></span></p>
    </div>
</div>