<div class="modal-header">
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="frstName">Frst Name</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]='frstEr' nzHasFeedback>
        <input nz-input formControlName="frstName" id="frstName" />
      </nz-form-control>
    </nz-form-item>
    <ng-template #frstEr>
      <p *ngIf="erroreName('frstName')">{{erroreStr}} </p>
    </ng-template>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="lastName">Last Name</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]='lastEr' nzHasFeedback>
        <input nz-input formControlName="lastName" id="lastName" />
      </nz-form-control>
    </nz-form-item>
    <ng-template #lastEr>
      <p *ngIf="erroreName('lastName')">{{erroreStr}} </p>
    </ng-template>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="email" nzHasFeedback>
        <input nz-input formControlName="email" id="email" />
      </nz-form-control>
    </nz-form-item>
    <ng-template #email>
      <p *ngIf="erroreName('email')">{{erroreStr}} </p>
    </ng-template>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="phoneNumber">Phone Number</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="phone">
        <input nz-input formControlName="phoneNumber" id="phoneNumber" mask='(000)00-00-00' />
      </nz-form-control>
    </nz-form-item>
    <ng-template #phone>
      <p *ngIf="erroreName('phoneNumber')">{{erroreStr}} </p>
    </ng-template>

    <ng-template #country>
      <p *ngIf="erroreName('country')" class="erroreCountry">{{erroreStr}}</p>
    </ng-template>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="city">City</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="city" nzHasFeedback>
        <input nz-input formControlName="city" id="city" />
      </nz-form-control>
    </nz-form-item>
    <ng-template #city>
      <p *ngIf="erroreName('city')">{{erroreStr}} </p>
    </ng-template>




    <!-- oracujc-->

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="date" nzRequired>Date of birth</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]='date' nzHasFeedback>
        <nz-date-picker formControlName='date' (ngModelChange)="onChange($event)" id='date'></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
    <ng-template #date>
      <p *ngIf="erroreName('date')">{{erroreStr}} </p>
    </ng-template>




    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="comment">Comment</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <input nz-input formControlName="comment" id="comment" />
      </nz-form-control>
    </nz-form-item>

    <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Log in</button>
  </form>
</div>
<div class="modal-footer">

</div>