nz-date-picker {
    margin: 0 8px 12px 0;
    
  }

  ::ng-deep .cdk-overlay-container {
    z-index: 1200 !important;
  }

  .modal-content {
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
    top: 100px !important;
    position: relative !important;
    left: 50% !important;
    top:20% !important;
    transform-origin: top !important;
}

.ant-input, .ant-input-group {

  width: 250px;
}

.login-form{
  display: flex;
  flex-wrap: wrap;
}

.ant-btn-primary{
  margin: 40% 0 0 -45%;
}

.ant-form-item-label {
  text-align: left;
}

.region{
  margin-bottom: 60px;
}

