<div class="conteiner">
  <ngx-spinner bdColor="rgba(0, 0, 0, 0.3)" size="medium" color="#fff" type="ball-spin">
    <p style="color: white"> Loading... </p>
  </ngx-spinner>
  <div class="modal-header title-h1">
    <h1>{{'Menu.user.save'|translate}}</h1>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form  [formGroup]="validateForm" (ngSubmit)="submitForm()" class="form">
      <div class="col column-1">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label class="label">{{'Order.userData.frstName'|translate}}</mat-label>
          <input type="text" matInput formControlName="frstName" id="frstName" trim [errorStateMatcher]="matcher">
          <mat-error *ngIf="this.validateForm.get('frstName')?.hasError('required')">
            <p>{{'ErroreMessage.required'|translate}}</p>
          </mat-error>
          <mat-error *ngIf="this.validateForm.get('frstName')?.hasError('minlength')">
            <p>{{'ErroreMessage.minlength'|translate}} 3</p>
          </mat-error>
          <mat-error *ngIf="this.validateForm.get('frstName')?.hasError('maxlength')">
            <p>{{'ErroreMessage.maxLength'|translate}}</p>
          </mat-error>
          <mat-error *ngIf="this.validateForm.get('frstName')?.hasError('userNameChar')">
            <p>{{'ErroreMessage.userNameChar'|translate}}</p>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label class="label">{{'Order.userData.lastName'|translate}}</mat-label>
          <input type="text" matInput formControlName="lastName" id="lastName" trim [errorStateMatcher]="matcher">
          <mat-error *ngIf="this.validateForm.get('lastName')?.hasError('required')">
            <p>{{'ErroreMessage.required'|translate}}</p>
          </mat-error>
          <mat-error *ngIf="this.validateForm.get('lastName')?.hasError('minlength')">
            <p>{{'ErroreMessage.minlength'|translate}} 3</p>
          </mat-error>
          <mat-error *ngIf="this.validateForm.get('lastName')?.hasError('maxlength')">
            <p>{{'ErroreMessage.maxLength'|translate}}</p>
          </mat-error>
          <mat-error *ngIf="this.validateForm.get('lastName')?.hasError('userNameChar')">
            <p>{{'ErroreMessage.userNameChar'|translate}}</p>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label class="label">{{'Order.userData.phoneNumber'|translate}}</mat-label>
          <input matInput formControlName="phoneNumber" type='tel' id="phoneNumber" mask='(000)00-00-00'
            [errorStateMatcher]="matcher" trim>
          <mat-error *ngIf="this.validateForm.get('phoneNumber')?.hasError('required')">
            <p>{{'ErroreMessage.required'|translate}}</p>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label class="label">{{'Order.userData.email'|translate}}</mat-label>
          <input matInput formControlName="email" id="email" trim [errorStateMatcher]="matcher">
          <mat-error *ngIf="this.validateForm.get('email')?.hasError('required')">
            <p>{{'ErroreMessage.required'|translate}}</p>
          </mat-error>
          <mat-error *ngIf="this.validateForm.get('email')?.hasError('pattern')">
            <p>{{'ErroreMessage.isEmail'|translate}}</p>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col column-2">
        <mat-form-field appearance="fill">
          <mat-label class="label">{{'Order.userData.date'|translate}}</mat-label>
          <input matInput [max]="currentDate" [matDatepicker]="dp3"  formControlName='date'>
          <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
          <mat-datepicker #dp3 disabled="false"></mat-datepicker>
          <mat-error *ngIf="this.validateForm.get('date')?.hasError('required')">
            <p>{{'ErroreMessage.required'|translate}}</p>
          </mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="fill" class="full-width">
          <mat-label class="label">{{'Order.userData.country'|translate}}</mat-label>
          <mat-select [placeholder]="frames.country_placeholder" formControlName='country'>
            <mat-optgroup *ngFor='let country of frames.selectedValue' [label]='country["name_"+frames.lang]'>
              <mat-select>
                <mat-optgroup *ngFor='let regions of country.country_regions' [label]='regions["name_"+frames.lang]'>
                  <mat-option  *ngFor='let city of regions.region_cities' [value]='city.id'>
                    {{city["name_"+frames.lang]}}
                  </mat-option>
                </mat-optgroup>
              </mat-select>
            </mat-optgroup>
          </mat-select>
          <mat-error *ngIf="this.validateForm.get('country')?.hasError('required')">
            <p>{{'ErroreMessage.required'|translate}}</p>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label class="label">{{'Order.userData.password'|translate}}</mat-label>
          <input matInput formControlName="pas" id="pas" type="password" trim [errorStateMatcher]="matcher">
          <mat-error *ngIf="this.validateForm.get('pas')?.hasError('required')">
            <p>{{'ErroreMessage.required'|translate}}</p>
          </mat-error>
          <mat-error *ngIf="this.validateForm.get('pas')?.hasError('minlength')">
            <p>{{'ErroreMessage.minlength'|translate}} 6</p>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label class="label">{{'Order.userData.passwordReset'|translate}}</mat-label>
          <input matInput formControlName="pasRev" id="pasRev" type="password" [errorStateMatcher]="matcher" trim
            [errorStateMatcher]="matcher">
          <mat-error *ngIf="this.validateForm.get('pasRev')?.hasError('required')">
            <p>{{'ErroreMessage.required'|translate}}</p>
          </mat-error>
          <mat-error *ngIf="this.validateForm.get('pasRev')?.hasError('minlength')">
            <p>{{'ErroreMessage.minlength'|translate}} 6</p>
          </mat-error>
          <mat-error *ngIf="this.validateForm.get('pasRev')?.hasError('passwordReview')">
            <p>{{'ErroreMessage.checkPass'|translate}}</p>
          </mat-error>
        </mat-form-field>
      </div>
      <button mat-raised-button class="login-form-button">
        {{'Menu.user.save'|translate}}</button>
    </form>
  </div>
  <div class="modal-footer">
  </div>
</div>