::ng-deep .cdk-overlay-container {
  z-index: 1200 !important;
}

.modal-content {
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  top: 100px !important;
  position: relative !important;
  left: 50% !important;
  top: 20% !important;
  transform-origin: top !important;
}

.mat-form-field {
  width: 250px;
}

::ng-deep.mat-form-field-appearance-fill .mat-form-field-infix {
  width: 200px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  min-width: 150px !important;
  width: 100% !important;
}

.login-form-button {
  margin: 100px auto;
}

.city {
  margin-left: 20px;
}

.color{
  height: 40px;
}
.color p{
  color: tomato;
}
.rightImg1 {
  display: block;
  width: 10px;
  position: relative;
  left: 93px;
  top: 35px;
}

.rightImg2 {
  display: block;
  width: 10px;
  position: relative;
  left: 93px;
  top: 67px;
}
