.headmost{
 display: block;
}

.conteiner{ 
 min-width: 100%;
 display: flex;
 justify-content: space-between;
 background-color: rgba(255, 255, 255, 0.849);
 box-shadow: 0 2px 2px rgb(0 0 0 / 35%);
 height: 50px;
}

.logo{
 width: 180px;
 margin: 5px;
 cursor: pointer;
 text-align: center;
}

.logo p{
 font-family: 'Praise', cursive;
 font-size: 55px;
 margin-top: 8px;
 color: #f43f73;
}

.li-nav{
 list-style: none;
 position: absolute;
 top: 25px;
 left: 30px;
 background-color: white;
 border-radius: 7px;
 padding: 10px;
 box-shadow: 0 5px 5px rgb(0 0 0 / 35%);
 z-index: 555;
 display: none;  
}

.li-nav li{
 padding : 5px;
 width: 120px;
}

.li-nav a{
 text-decoration: none;
 /* color: rgb(63, 62, 62); */
 color: #c79d51;
 font-weight: bold;
 padding: 5px;
 transition: 0.2s;
}

.li-nav li:hover{
 background-color: rgb(236, 231, 231);
}

.silki{
 list-style: none;
 display: flex;
 position: relative;
 top:15px;
}

.silki p{
 position: relative;  
 cursor: pointer;
 top:-7px;
}

.drop{
 position: relative;
 left: 160px;
 top: -45px;
}

.frame{
 text-decoration: none;
 /* color: rgb(54, 54, 54); */
 color: #c79d51;
 font-weight: bold;
 padding: 5px 35px;
 transition: 0.2s;
}

.frame:hover{
 background-color: rgb(236, 231, 231);
}

.active{
 color: #ff4d4f;
} 

.red{
 color:red;
}

.parent,.parent-1{
 position: relative;
 list-style: none;
}

.parent{
  top:3px
}

.parent-1{
 display: inline-block;
 margin-left: -40px;
}

.parent:hover .li-nav{
 display: block;
}

.parent-1:hover .li-nav{
 display: block;
}

.user-data{
 position: absolute;
 top:30px;
 left: -30px;
 list-style: none;
 /* color: rgb(78, 77, 77); */
 color: #c79d51;
 background-color: white;
 z-index: 55;
 box-shadow: 1px 2px 4px 2px grey;
 display: none;
 width: 150px;
 transition: 0.5s;
}

.activeHover{
 display: block;
 position: relative;
 text-decoration: none;
 /* color: rgb(54, 54, 54); */
 color: #c79d51;
 font-size: 14px; 
 padding: 5px;
 top: -5px;
}

.activeHover:hover ul{
 display: block;
}

.list{
 line-height: 22px;
 border-bottom: 1px solid #f5e9e9;
 margin-left: -35px;
 padding: 5px;
 font-size: 12px;
 color: #c79d51;
 /* color:black; */
}

.list:hover{
 background-color: rgb(236, 231, 231);
}

.list a{
 color: #c79d51;
 /* color:black; */
}

.flags{
 display: flex;
 list-style: none;
 margin-top: -5px;
}

.flag{
 width: 15px;
 height: 15px;
 background-position: center;
 background-size: 100% 100%;
 margin: 5px 10px;
 cursor: pointer;
 transition: 0.5s;
}

.flag:active{
 box-shadow: 1px 0 6px 4px rgb(75, 73, 73);
}

.order{
 border-radius: 4px;
 z-index: 999;
 top: 105px;
 left: 96%;
 position: fixed;
 background: #d9d9d9c7;
 width: 60px;
 padding: 7px;
 cursor: pointer;
}

.footerWrap{
 min-width: 100%;
 padding-top: 20px;
 display: flex;
 justify-content: space-around;
 box-shadow: 0 2px 2px rgb(41 43 42 / 37%) inset;
 height: 120px;
}

.footer-nav{
 width: 55%;
 padding-top: 10px;
}

.footer-silki{
 list-style: none;
 display: flex;
 justify-content: space-around;
}

.soc{
 text-align: center;
 padding-top: 10px;
 margin-left: 20px;
}

.silka{
 display: inline-block;
 margin-left: 20px;
 transition: 0.2s;
}

.silka:hover{
 opacity: 0.6;
}

.material-icons-outlined{
 display: none;
}
   
.rout{
 min-height: calc(100% - 170px);
 position: relative;
}

.noMobail{
 display:none;
}

.left p{
 color:#c79d51;
}

@media (min-width:1441px ) and (max-width:2560px ){
    .parent{
        top:2px
    }
}

@media (max-width:1082px){
    .conteiner{ 
     position: relative; 
     display: flex;
     justify-content: space-between;
     height: fit-content;
     position: relative;
     z-index: 111; 
    }

    .silki {
     display: none;
    }

    .check-silki{
     display: flex;
     flex-direction: column;
     position: absolute;
     top: 55px;
     right: 0;
     z-index: 999;
     background-color: white;
     box-shadow: 0 2px 2px rgb(0 0 0 / 35%);
     padding-left: 0;
    }
   
    .material-icons-outlined{
     display: block;
    }

    .frame{
     text-decoration: none;
     color: #c79d51;
     /* color: rgb(54, 54, 54); */
     font-weight: bold;
     transition: 0.4s;
     display: inline-block;
    }
    
    .check-silki p{
     margin-bottom: -6px;
     display: inline-block;
    }
    
    .parent-1{
     margin-top: 5px
    }

    .user-data{
     top:45px;
     left: 20px;
    }

    .activeHover{
     margin-left: 30px;
    }

    .order{
     left:93%;
     top: 200px;
    }

    .drop{
     position: relative;
     left: -25px;
     top: -3px;
    }

    .footerWrap{
      width: inherit;
    }
}


@media (max-width:1025px){
    .order{
     left:95%;
    }
}

@media (max-width:980px){
    .footerWrap{
     display: flex;
     flex-direction: column;
     text-align: center;
    }

    .footer-nav{
     width: inherit;
    }
}


@media (max-width:426px){
    .headmost{
        display: none;
    }

    .noMobail{
        display: block;
        margin: 100px auto;
        width: 250px;
        text-align: center;
        font-size: 18px;
        line-height: 20px;
    }

}

