<div class="modal-header">
    <h6 class="modal-title">գրելու պայմանները</h6>
    <div (click)="activeModal.dismiss()" class="close">
      <span aria-hidden="true" class="timess">&times;</span>
    </div>
  </div>
  <div class="modal-body">
    <p>
      Դուք կարող եք բառեր մուտքագրել տառերով ձեր ստեղնաշարից: Շրջանակի մեջ գտնվող լուսանկարները կարող են լինել 3 տառից մինչև 9: Իսկ մագնիսները կարող են լինել 
       ստեղծել բառեր և նույնիսկ արտահայտություններ 3 -ից 18 տառերով:
    </p>
    <p>
      Ձեր լուսանկարն ավելացնելու համար անհրաժեշտ է
      գրանցվել/մուտք գործել, ապա բացեք տառերի փոխարինման պատուհանը և ընտրեք «Իմ տառերը» բաժինը, ապա ձեզ հարկավոր կլինի ձեր լուսանկարը և
      ընտրիր նրան:
    </p>
    <hr>
  </div>
