.wrap{
 max-width: 1200px;
 margin: 0 auto;


}

.frames{
  border: 1px dashed;
  border-radius: 50px;
  padding: 30px;
  position: relative;
  margin: 20px 0;
/*   
  width: fit-content; */
  display: flex;
}

.preview-remove {
  opacity: 0;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  right: 20px;
  top: 15px;
  font-weight: bold;
  background: rgba(204, 202, 202, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity .22s;
}
 
.frames:hover .preview-remove{
  opacity: 1;
}

.user-block{
 box-sizing: border-box;
 width: inherit;
}


ul{
  list-style: none;
}

.user{
  padding: 10px;
}

.order{
  display: flex;

}

.my-order{
  display: flex;

  flex-direction: column;
  margin:  5px;
}

.user-imags{
  width: 100px;
  height: 150px;
  background-position: center;
  background-size: 100% 100%;
  
}

::ng-deep.mat-typography p {
  margin: 0 0 2px  !important;
}

.batn{
  border-radius: 10px;
  border: none;
  outline: none;
  background: #e8cd96;;
  color: gray;
  transition: all 0.5s;
  letter-spacing: 1px;
  padding: 5px 10px;
  transition: 0.5s;
  margin: 10px 0;
}
 
.batn:active{
  background: white;
  color: rgb(206, 56, 56);
  border: 1px solid  #f5deb3;;
}
 
.title{
 color: #d8bc89;
 font-size: 25px;
 letter-spacing: 1px;
 text-transform: uppercase;
 font-weight: 800;
 padding: 20px;
 margin-bottom: 40px;
}

.levt-nav{ 
  left: 5px;
}

.myWrap:hover .levt-nav{
  opacity: 1;
  background-image: url('/assets/1x/navigate/grey-Rnav.png');
}

.reight-nav{
  right: 5px;
}

.myWrap:hover .reight-nav{
  opacity: 1;
  background-image: url('/assets/1x/navigate/grey-Lnav.png');
}

.levt-nav,.reight-nav{
  background-position: center;
  background-size: 100% 100%;
  position: relative;
  z-index: 55;
  top:40%;
  height: 40px;
  width: 40px;
  outline: none;
  border: none;
  background-color: transparent;
  display: block;
  opacity: 0;
}

.down-arrow{
  background-image: url('/assets/1x/dot.png');
  background-position: center;
  background-size: 100% 100%;
  height: 50px;
  width: 50px;
  margin: 20px auto;
  cursor: pointer;
}

@media  (max-width: 1025px){
  .user-imags{
    width: 80px;
    height: 100px;
    background-position: center;
    background-size: 100% 100%;
  }
}

@media  (max-width: 1000px){
    .wrap{
      width: 100%;
    }

    .user-block{
      width: 100%;
    }

    .order{
     display: flex;
     width: 650px;
    }

    .user-info{
     margin-top: 20px !important;
    }

    .user{
     padding: 10px;
     margin-bottom: 50px;
    }
} 

@media (max-width:768px){
    .user{
     display: flex;
     flex-direction: column;
     width: fit-content;
     margin-bottom: 0;
     padding-bottom: 5px;
    }

    .order{
      width: fit-content;
    }
    .user-info{
      margin-top: 0 !important;
    }

}
@media (max-width:426px){
    .order{
     display: flex;
     width: fit-content;
    }

    .user-block{
      margin: 0 0 10px 0;
    }
    
}

@media (max-width:376px){

  .user-block{
    width: 360px;
  }
  
  .user-imags{
    margin: 2px;
  }
}

.myWrap{
  display: flex;
  width: fit-content;
  align-self: center;
}

.reight,.left{
  display: flex;
  flex-direction: column;
}

.squrl{
  height: 40px;
  width: 40px;
  flex-grow: 0;
}

.left-top{
  margin: 0 -1px -1px 1px;
}

.reight-he{
  flex-grow: 1;
}

.left-line{
  margin-left: 1px;
}

.left-bottom{
  margin: -1px -1px 0 1px;
}
 
.content{
  width: fit-content;
}

.top,.bottom{
  height: 40px;
}
 
.reight,.left{
  display: flex;
  flex-direction: column;
}

.right-top{
  margin: 0 -1px -1px -1px;
}

.right-top{
  margin: 0 -1px -1px 0;
}
 
.right-bottom{
  margin: -1px 0 0  0 ; 
}
 
.text{
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 12px !important;
  height: 20px;
}

.bot{
  position: relative;
  left: 95%;
}

.porc{
  width: 1200px; 
  text-align:center;
  margin:0;
  padding:0;

}