.wrap{
 max-width: 1200px;
 margin: 0 auto;
 
}

.content{
  border: 1px dashed;
  border-radius: 50px;
  padding: 30px;
  position: relative;
  padding: 20px 0 20px;
  margin: 20px 0;
}

.block{
 background: #f5deb3;
 border-radius: 20px;
 margin: 5px auto;
 box-sizing: border-box;
}

.title{
 color: #d8bc89;
 font-size: 25px;
 letter-spacing: 1px;
 text-transform: uppercase;
 font-weight: 800;
 padding: 20px;
 margin-bottom: 40px;
}

.text{
 padding-top: 7px;
 font-size: 18px;  
}

.user{
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
 padding: 5px;
 width: 1000px;
}

.order{
 display: flex;
 width: fit-content;
 margin-left: 20px;
}

.user-imags{
 width: 50px;
 height: 90px;
 background-position: center;
 background-size: 100% 100%;
 margin: 5px ;
}

.sum{
 padding: 10px;
}

.user-info{
 display: flex !important;
 margin-right: 10px;
}

.batn{
 border-radius: 10px;
 border: none;
 outline: none;
 background: #fbf6ec;
 color: gray;
 transition: all 0.5s;
 letter-spacing: 1px;
 padding: 5px 10px;
 transition: 0.5s;
}

.batn:active{
 background: white;
 color: rgb(206, 56, 56);
 border: 1px solid  #f5deb3;;
}


.preview-remove {
  opacity: 0;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  position: absolute;
  right: 20px;
  top: 5px;
  font-weight: bold;
  background: rgba(204, 202, 202, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity .22s;
}
 
.content:hover .preview-remove{
  opacity: 1;
}

@media  (max-width: 1000px){
    .wrap{
      width: 100%;
    }

    .block{
      width: 100%;
    }
    .order{
     display: flex;
     width: 650px;
    }

    .user-info{
     margin-top: 20px !important;
    }

    .user{
     padding: 10px;
     margin-bottom: 50px;
    }
} 

@media (max-width:768px){
    .user{
     display: flex;
     flex-direction: column;
     width: fit-content;
     margin-bottom: 0;
     padding-bottom: 5px;
    }

    .order{
      width: fit-content;
    }
    .user-info{
      margin-top: 0 !important;
    }

    .sum{
      display: block;
      padding: 0;
      margin: 0 auto;
    }
    .sum p{
      margin-left: 80px;
    }
}
@media (max-width:426px){
    .order{
     display: flex;
     width: fit-content;
    }

    .block{
      margin: 0 0 10px 0;
    }
    
}

@media (max-width:376px){

  .block{
    width: 360px;
  }
  .text{
    font-size: 14px;
  }
  
  .user-imags{
    margin: 2px;
  }
}