.bottom{
 border-bottom: 1px dashed;
 cursor: pointer;
}

.menu{
 margin-left: 100px;
}

.delete{
 margin-left: 30px;
}

.im{
 background: transparent;
 margin: 0 auto;
}

.imgs{
 flex-wrap: wrap;
}

.bgr{
 border-radius: 5px;
 width: 60px;
 height: 100px;
}

.bgr p{
 text-align: center;
 font-size: 10px;
 margin: 40% 5px;
}

.bg-img{
 width: 60px;
 height: 100px;
 border-radius: 5px;
}

.bg-img:nth-child(odd){
 transform: rotate(5deg);
}

.bg-img:nth-child(even){
 transform: rotate(-3deg);
}

.bg-img:nth-child(3n){
 transform: rotate(-6deg);
}

.bg-img:first-child{
 transform: rotate(2deg);
}

.magnit{
 height: 480px;
 width: 60%;
 min-width: 930px;
 margin: 50px auto;
 background: url('src/assets/1x/magnit.jpg')  no-repeat 0 0 #fbfbfb;
}
   
.underFridge{
 height: 100%;
 width: 100%;
 padding: 30px 0 0 0;
 background: url('src/assets/1x/fridge_right.jpg') no-repeat 100% 0;
}
   
.imgColor{
 justify-content: flex-end;
}

.center{
 display: block;
 margin: 100px auto;
}

/* .create-bottom{
 outline: none;
 display: block;
 margin-top:50px;
 z-index: 1;
} */

.makeAWord_3{
 position:static;
 outline: none;
 margin: 0 auto;
}

@media (max-width:1025px){
    .center{
        display: block;
        margin-top:170px;
    }
       
}


@media (max-width:768px){
   

    .create-bottom{
     position: absolute;
     top:970px; 
     left: 35%;  
    }
        
}

@media (max-width:426px){
    .create-bottom{
     position: absolute;
     top:1600px;   
    }
       
}
