.main {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 2fr));
    grid-gap: 25px;
    padding-right: 10px;
}

.img-idea {
    padding: 10px 4px;
    width: 100%;
}

.imgs {
    width: inherit;
    height: 200px;
    background-position: center;
    background-size: 100% 100%;
}

.idea-info {
    display: flex;
    justify-content: space-between;
    background: #eceaea;
}

.titles {
    cursor: pointer;
    padding: 5px 0 0 5px;
}

.titles div {
    height: 40px;
    display: flex;
    flex-wrap: wrap;
}

.titles div .img-title {
    display: inline;
}

.titles:hover .img-title {
    color: #c80063;
}

.img-title {
    font-size: 14px;
    font-weight: bold;
    color: #151414e0;
    margin: 0 0 0 5px;
}

.order {
    padding: 5px;
    cursor: pointer;
}