<ngx-spinner bdColor="rgba(0, 0, 0, 0.9)" size="medium" color="#fff" type="ball-spin">
    <p style="color: white"> Loading... </p>
</ngx-spinner>
<div class="conteiner">
    <nav class="bar">
        <h2 class="title">{{'_idea-img._nav-title'|translate}}</h2>
        <ul>
            <li><a (click)="ideaGroup()">{{'_idea-img._all'|translate}}</a></li>
            <li *ngFor='let item of frameIdeas'>
                <a (click)="ideaGroup(item)" *ngIf='frames.lang==="hy"'>{{item.name_hy}}</a>
                <a (click)="ideaGroup(item)" *ngIf='frames.lang==="ru"'>{{item.name_ru}}</a>
                <a (click)="ideaGroup(item)" *ngIf='frames.lang==="en"'>{{item.name_en}}</a>
            </li>
        </ul>
    </nav>
    <router-outlet></router-outlet>
</div>