.lightSheme{
 background: url('src/assets/1x/bg_magnit.jpg') repeat 0 0;
 padding: 20px;
 margin-top: 10px;
}

.block{
 top: 50px ;
 left:50%;
 transform-origin: top; 
}

.fone-btn{
 position: absolute;
 height: 30px;
 width: 190px;
 top: 113px;
 left: 44%;
 background-image: url('src/assets/1x/bg_magnit.jpg');
 background-position: center;
 border-radius: 7px;
}

.center{
  display: block;
  margin: 80px 0 0 40%;
}
 
.makeAWord_3 {
  outline: none;
}

.create-bottom{
  outline: none;
  display: block;
  margin-top:-400px;
  z-index: 1;
}

.save{
  margin-top: -120px;
}

@media (max-width:1024px){

  .create{
    margin: -10px 0  0 -50px;
  }

  .save{
    margin: -220px 0  0 -50px;
  }

  .create-bottom{
    margin:-250px 0 0 -50px ;
  } 
}

@media (max-width:768px){
  .block{
    top: 150px ;
  }

  .create{
    margin: -30px 0  0 -50px;
  }

  .save{
    margin: -200px 0  0 -50px;
  }

  .create-bottom{
    margin:-750px 0 0 -50px ;
  } 
}

@media (max-width:426px){
    .btn-save{
     margin-top: 0px;  
     margin-left: -20px;
    }

    .block{
     top: 100px;
    }

    .create {
      margin: -200px 0 0 -105px;
    }
    .save{
      margin: -370px 0 0 -102px;
    }

    .create-bottom{
      margin: -1600px 0 0 -103px;
    }
}

@media (max-width:376px){
    .btn-save{
     margin-top: 0px;  
    }
}