<header class="lightSheme " [style.height]="frames.isOrder?'fit-content':'590px'">
  <ngx-spinner bdColor="rgba(0, 0, 0, 0.9)" size="medium" color="#fff" type="ball-spin">
    <p style="color: white"> Loading... </p>
  </ngx-spinner>
  <div class="block" #block [ngStyle]="setStyle()">

    <div class="magnit ">
      <div class="underFridge">
        <div class="imgColor">
          <div class="colorless" [style.backgroundColor]='block.values.color' *ngFor='let block of frames.imgColor'
            (click)="imgFone(block)" [ngClass]="{'box-content':block?.ceys?.id=== frames?.painding?.id}">
            <div class="lessWhite" [style.backgroundColor]='block.values.child'>
              <p class="info" *ngIf='frames.lang==="hy"'>{{block?.ceys?.name_hy}}</p>
              <p class="info" *ngIf='frames.lang==="ru"'>{{block?.ceys?.name_ru}}</p>
              <p class="info" *ngIf='frames.lang==="en"'>{{block?.ceys?.name_en}}</p>
            </div>
          </div>
        </div>
        <div class="letter" *ngIf='frames.isImg else create'>
          <form [formGroup]="frames.validateForm">
            <input type="text" formControlName='text' maxlength="9" [placeholder]="frames.placeholder" trim>
          </form>
          <p class="btn" (click)="open()" *ngIf='frames.isImg'>{{'_img-text-valid._title'|translate}}</p>
        </div>
      </div>
    </div>
  </div>
  <app-order *ngIf='frames.isOrder'> </app-order>
  <div class="buttonWrap">
    <div class="asside"></div>
    <div class="center">
      <button type="submit" (click)='onSubmit()' class="create"
        *ngIf='frames.isImg'>{{'_img-text-valid._create-word'|translate}}</button>

      <button *ngIf='frames.isOrder' class="create create-bottom"
        (click)="showFrame()">{{'_img-text-valid._order-add'|translate}}</button>

      <!-- *ngIf='!frames.isOrder'  [class.fone-btn]="!frames.isOrder"   'left':'44%'  top 113px-->
      <button class="btn-save" (click)='frames.myMagnitOrder()'
        *ngIf='!frames.isOrder && !frames.isImg'>{{'_imgs._batn-save'|translate}}</button>

      <div class="bg-fone" [class.fone-btn]="!frames.isImg"></div>  
      
    </div>
    <div class="asside"></div>
  </div>
  <ng-template #create>
    <app-create-magnit (mainApp)="deletImg($event)"></app-create-magnit>
  </ng-template>
</header>