<header class="lightSheme ">
  <ngx-spinner bdColor="rgba(0, 0, 0, 0.9)" size="medium" color="#fff" type="ball-spin">
    <p style="color: white"> Loading... </p>
  </ngx-spinner>
  <div class="block" #block [ngStyle]="setStyle()">

    <div class="magnit ">
      <div class="underFridge">
        <div class="imgColor">
          <div class="colorless" [style.backgroundColor]='block.values.color' *ngFor='let block of frames.imgColor'
            (click)="imgFone(block)" [ngClass]="{'box-content':block?.ceys?.id=== frames?.painding?.id}">
            <div class="lessWhite" [style.backgroundColor]='block.values.child'>
              <p class="info">{{block?.ceys?.name_hy}}</p>
            </div>
          </div>
        </div>
        <div class="letter" *ngIf='frames.isImg else create'>
          <form [formGroup]="frames.validateForm">
            <input type="text" formControlName='text' maxlength="9" placeholder="ԳՐԵՔ ԲԱՌԸ" trim>
          </form>
          <p class="btn" (click)="open()" *ngIf='frames.isImg'>{{'_img-text-valid._title'|translate}}</p>
        </div>
        <button type="submit" (click)='onSubmit()' class="create" *ngIf='frames.isImg'>{{'_img-text-valid._create-word'|translate}}</button>
        <app-order *ngIf='frames.isOrder'> </app-order>
        <button *ngIf='frames.isOrder' class="create" [style.margin-top]="'0px'" (click)="showFrame()">{{'_img-text-valid._order-add'|translate}}
        </button>
      </div>
    </div>
  </div>
  <ng-template #create>
    <app-create-magnit (mainApp)="deletImg($event)"></app-create-magnit>
  </ng-template>
</header>