
.lightSheme{
    background: url('src/assets/1x/bg_magnit.jpg') repeat 0 0;
    padding: 20px;
}


.magnit{
    height: 480px;
    width: 60%;
    min-width: 930px;
    margin: 10px auto;
    background: url('src/assets/1x/magnit.jpg')  no-repeat 0 0 #fbfbfb;
}

.underFridge{
    height: 100%;
    width: 100%;
    padding: 30px 0 0 0;
    background: url('src/assets/1x/fridge_right.jpg') no-repeat 100% 0;
}

.letter input{
    background: transparent;
  outline: none;
}

.imgColor{
    justify-content: flex-end;
}

.btn{
    position: relative;
    left: -260px;
  
}


.block{
    top: 50px ;
    left:50%;
    transform-origin: top;  
}

.buttonWrap{
    position: relative;
    display: flex;
    width: 100%;
    transform-origin: top; 
}

.asside{
    height: 40px;
    width: 50%;
    margin-top: 40px;
}

.create{
    margin-top: 42px;
    outline: none;
    margin-left: 5px;
}

.create-bottom{
    position: absolute;
    top: 40%;
    left: 44%;
    z-index: 1;
}

.bg-fone{
   height: 22px;
    width: 190px;
    background-image: url('src/assets/1x/bg_magnit.jpg');
    background-position: center;
    border-radius: 7px;
    margin-top: -16px;
}

.fone-btn{
    position: absolute;
    height: 30px;
    width: 190px;
    top: 113px;
    left: 44%;
    background-image: url('src/assets/1x/bg_magnit.jpg');
    background-position: center;
    border-radius: 7px;
}

.btn-save{
    outline: none;
    left: 40.7%;
}

@media (max-width:620px){
    .lightSheme{
        height: 450px !important;
    }

    .create{

        position: absolute;
        top: -140px;
        z-index: 333;
    }

    .bg-fone{
        position: relative;
        top: -58px;
    }
    
    .fone-btn{
      display: none;
    }
    .btn-save{
        outline: none;
        left: 36%;
        top:-50px;
    }
}

@media (max-width:425px){
    .lightSheme{
        height: 320px !important;
    }

    .create{

        position: absolute;
        top: -265px;
        z-index: 333;
    }

    .bg-fone{
        position: relative;
        top: -186px;
    }
    .btn-save{ 
        position:absolute;
        left: 38%;
        top:-180px;
        width: 100px;
        letter-spacing: 0;
        font-size: 12px;
        z-index: 0 !important; 
    }

  
}