<header class="lightSheme" [style.height]="frames.isOrder && !frames.isImg?lightSheme:'calc(100vh - 120px)'">
  <ngx-spinner bdColor="rgba(0, 0, 0, 0.3)" size="medium" color="#fff" type="ball-spin">
    <p style="color: white"> Loading... </p>
  </ngx-spinner>
  <div class="block" #block [ngStyle]="blockStyle">
    <router-outlet></router-outlet>
  </div>
  <div class="center">
    <button type="submit" (click)='onSubmit()' class='makeAWord_3 create' *ngIf='frames.isImg'>
      {{'ImgTextValid.createWord'|translate}}</button>

    <button *ngIf='frames.isOrder' class="create-bottom makeAWord_3"
      (click)="showFrame()">{{'ImgTextValid.orderAdd'|translate}}</button>

    <button class="makeAWord_3 save" (click)='magnitService.myMagnitOrder()'
      *ngIf='!frames.isOrder && !frames.isImg'>{{'Imgs.batnSave'|translate}}</button>
  </div>
</header>