
.group{
    display: flex;
    margin: 50px;
}

.list{
    list-style: none;
    padding: 10px;
  
}



.list a{
    color: #d8bc89;
    text-transform: uppercase;
    font-weight: 600;
}


.active{
    color:  #645231 !important;
}