<div class="img-content">
    <div *ngFor='let img of frames.fileList' class="files">
        <div class="img" [style.background-image]="'url( '+ img.image + ')'">
            <span class="iks" (click)='delete(img.id)'>&#x033D;</span>
        </div>
    </div>
    <nz-upload nzAction="http://sirun-bar-api.annaniks.com/image/user-image/"
         (nzChange)="handleChange($event)" nzListType="picture-card">
        <div>
            <i nz-icon nzType="upload"></i>
            <div style="margin-top: 8px">Upload</div>
        </div>
    </nz-upload>
</div>
