
.file{
    padding-top: 40px;
}

.upload{
 width: 150px; 
 /* color: #42b983; */
 color: #e6af49;
 position: relative;
 border-radius: 99px;
 /* border: 1px solid #42b983; */
 border: 1px solid  #e6af49;
 text-decoration: none;
 text-transform: uppercase;
 padding: 0.5rem 1.5rem;
 font-weight: 700;
 outline: none;
 background: #fff;
 transition: all 0.22s;
 cursor: pointer;
 margin-right: 1rem;
}

.upload:hover{
 cursor: pointer;
 opacity: 0.8;
}

.upload:active {
 box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.box{
 display: flex;
 flex-wrap: wrap;
 margin-top: 50px;
}

.files{
 padding: 5px; 
}

.img{
 width: 120px;
 height: 120px;
 background-position: center;
 background-size:100% 100%;
 padding: 5px;
 position: relative;
}

.files:hover .preview-remove{
 opacity: 1;
}

.text{
 margin:10px 80px;
 color: red;
 font-weight: 600;
 letter-spacing: 1px;  
}

.upload:active {
 box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.3);
}

input[type=file]{
 display: none;
}

.preview-remove {
 opacity: 0;
 width: 20px;
 height: 20px;
 position: absolute;
 right: 0;
 top: 0;
 font-weight: bold;
 background: rgba(255, 255, 255, .5);
 display: flex;
 align-items: center;
 justify-content: center;
 cursor: pointer;
 transition: opacity .22s;
}