

/* ::ng-deep app-login {
    display: none !important;
}


.modal-content {
    display: none !important;
} */

:host::ng-deep{
    .picker {
        .picker__holder {
          overflow-y: visible;
          display:none;
        }
        &.picker--opened {
          .picker__holder {
            display: block;
          }
        }
      }
}