<div class="modal-header"  >
  <h1>LOG IN</h1>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()" >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" >
  <div class='login'>
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Email-ը վալիդ չէ">
          <input nz-input formControlName="email" id="email" trim />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>Password</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="տառերի քանակը պետք է լինի 6-ից ավել">
          <input nz-input type="password" id="password" formControlName="password" trim />
          
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nz-row >
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
          <button nz-button nzType="primary">login</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>

</div>
<div class="modal-footer"  >
  <a (click)="open()"> registration</a>
</div>