
:host::ng-deep{
    .picker {
        .picker__holder {
          overflow-y: visible;
          display:none;
        }
        &.picker--opened {
          .picker__holder {
            display: block;
          }
        }
      }

}

.modal-footer a{
  border-bottom: 1px solid;
}

@media (max-width:426px){

  .batn-media{
    margin-left: -85px !important;
  }
}


@media (max-width:320px){

  .batn-media{
    margin-left: -75px !important;
  }
}

