<!-- <ngx-spinner bdColor="rgba(0, 0, 0, 0.3)" size="medium" color="#fff" type="ball-spin">
  <p style="color: white"> Loading... </p>
</ngx-spinner> -->
<div class="modal-header">
  <h1>{{'Order.userData.logIn'|translate}}</h1>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class='login'>
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">{{'Order.userData.email'|translate}}
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="email">
          <input nz-input formControlName="email" id="email" trim />
        </nz-form-control>
      </nz-form-item>
      <ng-template #email>
        <p *ngIf="erroreName('email')">{{erroreStr}}</p>
      </ng-template>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>{{'order.userData.password'|translate}}
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="pas">
          <input nz-input type="password" id="password" formControlName="password" trim />
        </nz-form-control>
      </nz-form-item>
      <ng-template #pas>
        <p *ngIf="erroreName('password')">{{erroreStr}} </p>
      </ng-template>

      <nz-form-item nz-row>
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
          <button nz-button nzType="primary" class="batn-media">{{'Order.userData.logIn'|translate}}</button>
        </nz-form-control>
      </nz-form-item>
      <p *ngIf='errorLog' [style.color]='"red"'>{{errorLog}}</p>
    </form>
  </div>

</div>
<div class="modal-footer">
  <a (click)="open()">{{'Order.userData.register'|translate}}</a>
</div>