<div class="modal-header title-h1">
  <h1>{{'Order.userData.logIn'|translate}}</h1>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <form  [formGroup]="validateForm" (ngSubmit)="submitForm()" class="form">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label class="label">{{'Order.userData.email'|translate}}</mat-label>
        <input matInput formControlName="email" id="email" trim [errorStateMatcher]="matcher">
        <mat-error *ngIf="this.validateForm.get('email')?.hasError('required')">
          <p>{{'ErroreMessage.required'|translate}}</p>
        </mat-error>
        <mat-error *ngIf="this.validateForm.get('email')?.hasError('email')">
          <p>{{'ErroreMessage.isEmail'|translate}}</p>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label class="label">{{'Order.userData.password'|translate}}</mat-label>
        <input matInput formControlName="password" id="password" type="password" trim [errorStateMatcher]="matcher">
        <mat-error *ngIf="this.validateForm.get('password')?.hasError('required')">
          <p>{{'ErroreMessage.required'|translate}}</p>
        </mat-error>
        <mat-error *ngIf="this.validateForm.get('password')?.hasError('minlength')">
          <p>{{'ErroreMessage.minlength'|translate}} 6</p>
        </mat-error>
      </mat-form-field>

      <button mat-raised-button class="login-form-button">
        {{'Order.userData.logIn'|translate}}</button>

      <p *ngIf='errorLog' [style.color]='"red"'>{{errorLog}}</p>
    </form>
</div>
<div class="modal-footer">
  <a (click)="open()">{{'Order.userData.register'|translate}}</a>
</div>