/* You can add global styles to this file, and also import other style files */
@import "~ng-zorro-antd/ng-zorro-antd.min.css";


.modal-content {
    top: 100px !important;
    /* width: 700px !important; */
}

.ant-upload-list-picture-card .ant-upload-list-item {
    display: none !important;
}

.ant-upload-list-picture-card-container {
 
    display: none !important;
}

.ng-image-slider .ng-image-slider-container .main .next, .ng-image-slider .ng-image-slider-container .main .prev {
    right: 0 !important;
    top: 80% !important;
    width: 15px !important;
    height: 15px !important;
    font-size: 15px !important;
    line-height: 13px !important;
}


body{
    margin: 0;
}

*{
    box-sizing: border-box;
}

.ant-btn-primary {
    width: 99% !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
 
    border-radius: 10px !important;
}

.ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector {
 
    border-radius: 10px !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.ant-select-selector {
    width: 280px !important;
}

.ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 10px !important;
  width: 280px !important;
}


.ant-upload.ant-upload-select-picture-card {
    width: 120px !important;
    height: 120px !important;
    border: 1px dashed #a09393 !important;
    transition: all .5s;
}

.ant-upload.ant-upload-select-picture-card:hover{
    border: 1px dashed rgb(88, 88, 224)!important;
}

