.login-form{
 display: flex;
 width: 50%;
 padding: 30px;
 flex-wrap: wrap;
 margin: 180px auto;
 border-radius: 20px;
 box-shadow: 3px 2px 22px 0 rgb(87 87 87);
}

.region{
  margin-bottom: 60px;
}

.ant-input, .ant-input-group {
 width: 280px;
}
  
.btn-wrap{
  position: relative;
  left: -150px;
}

::ng-deep.ant-btn-primary {
 width: 50% !important;
 margin-left: 90px;
}



::ng-deep.ant-form-item-label>label {
  height: 0 !important;
  font-size: 16px !important;
}
// .ng-tns-c132-6
::ng-deep.anticon.ng-star-inserted.anticon-check-circle-fill{
 color: #52c41a !important;
}

::ng-deep.ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  width: 280px !important;
}

::ng-deep.mat-form-field-appearance-fill .mat-form-field-infix {
  width: 220px;
}

.brtDay{
  margin-top: -40px !important;
}


@media (max-width:1536px){
  .btn-wrap{
    position: relative;
    left: -200px;
  }
}

@media (max-width:1441px){
  .btn-wrap{
    position: relative;
    left: -170px;
  }
}

@media (max-width:1368px){
  .btn-wrap{
    position: relative;
    left: -90px !important;
  }
}

:host::ng-deep{
    @media (max-width:760px){
        .mat-form-field, .ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector,  .ant-input, .ant-input-group {
         width:95% !important;
        }
        .ant-select {
         width:95% !important;
        }
        
    }
}

