<ngx-spinner bdColor="rgba(0, 0, 0, 0.3)" size="medium" color="#fff" type="ball-spin">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
<form nz-form [formGroup]="validateForm"  (ngSubmit)="submitForm()" class="form">
  <div class="login-form">
    <div class="form-1">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label class="label"> {{'Order.userData.frstName'| translate}} </mat-label>
        <input type="text" matInput formControlName="frstName" id="frstName" [errorStateMatcher]="matcher" trim>  
        <mat-error *ngIf="this.validateForm.get('frstName')?.hasError('required')">
          <p>{{'ErroreMessage.required'|translate}}</p>
        </mat-error>
        <mat-error *ngIf="this.validateForm.get('frstName')?.hasError('minlength')">
          <p>{{'ErroreMessage.minlength'|translate}} 3</p>
        </mat-error>
        <mat-error *ngIf="this.validateForm.get('frstName')?.hasError('maxlength')">
          <p>{{'ErroreMessage.maxLength'|translate}} 3</p>
        </mat-error>
        <mat-error *ngIf="this.validateForm.get('frstName')?.hasError('userNameChar')">
          <p>{{'ErroreMessage.userNameChar'|translate}}</p>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label class="label">{{'Order.userData.lastName'|translate}}</mat-label>
        <input type="text" matInput formControlName="last" id="last" trim [errorStateMatcher]="matcher">
        <mat-error *ngIf="this.validateForm.get('last')?.hasError('required')">
          <p>{{'ErroreMessage.required'|translate}}</p>
        </mat-error>
        <mat-error *ngIf="this.validateForm.get('last')?.hasError('minlength')">
          <p>{{'ErroreMessage.minlength'|translate}} 3</p>
        </mat-error>
        <mat-error *ngIf="this.validateForm.get('last')?.hasError('maxlength')">
          <p>{{'ErroreMessage.maxLength'|translate}}</p>
        </mat-error>
        <mat-error *ngIf="this.validateForm.get('last')?.hasError('userNameChar')">
          <p>{{'ErroreMessage.userNameChar'|translate}}</p>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label class="label">{{'Order.userData.addres'|translate}}</mat-label>
        <input matInput type="text" formControlName="addres" id="add" [errorStateMatcher]="matcher">
        <mat-error *ngIf="this.validateForm.get('addres')?.hasError('required')">
          <p>{{'ErroreMessage.required'|translate}}</p>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label class="label">{{'Order.userData.email'|translate}}</mat-label>
        <input type="email" matInput formControlName="email" id="email" [errorStateMatcher]="matcher" trim>   
        <mat-error *ngIf="this.validateForm.get('email')?.hasError('required')">
          <p>{{'ErroreMessage.required'|translate}}</p>
        </mat-error>
        <mat-error *ngIf="this.validateForm.get('email')?.hasError('isEmail')">
          <p>{{'ErroreMessage.isEmail'|translate}}</p>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-1">
      <mat-form-field appearance="fill">
        <mat-label class="label">{{'Order.userData.brtDay'|translate}}</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date"
          [errorStateMatcher]="matcher" formControlName='date'>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="this.validateForm.get('date')?.hasError('required')">
          <p>{{'ErroreMessage.required'|translate}}</p>
        </mat-error>
        <mat-error *ngIf="this.validateForm.get('date')?.hasError('bigDate')">
          <p>{{'ErroreMessage.bigDate'|translate}}</p>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label class="label">{{'Order.userData.phoneNumber'|translate}}</mat-label>
        <input matInput type="tel" mask='(000)00-00-00' formControlName="phoneNumber" id="phoneNumber" [errorStateMatcher]="matcher">      
        <mat-error *ngIf="this.validateForm.get('phoneNumber')?.hasError('required')">
          <p>{{'ErroreMessage.required'|translate}}</p>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label class="label">{{'Order.userData.country'|translate}}</mat-label>
        <mat-select formControlName='country'>
          <mat-optgroup *ngFor='let country of frames.selectedValue' [label]='country["name_"+frames.lang]'>
            <mat-select>
              <mat-optgroup *ngFor='let regions of country.country_regions' [label]='regions["name_"+frames.lang]'>
                <mat-option *ngFor='let city of regions.region_cities' [value]='city.id'>
                  {{city["name_"+frames?.lang]}}
                </mat-option>
              </mat-optgroup>
            </mat-select>
            <mat-error *ngIf="this.validateForm.get('country')?.hasError('required')">
              <p>{{'ErroreMessage.required'|translate}}</p>
            </mat-error>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label class="label">{{'Order.userData.password'|translate}}</mat-label>
        <input matInput formControlName="pas" id="pas" type="password" trim [errorStateMatcher]="matcher">
        <mat-error *ngIf="this.validateForm.get('pas')?.hasError('required')">
          <p>{{'ErroreMessage.required'|translate}}</p>
        </mat-error>
        <mat-error *ngIf="this.validateForm.get('pas')?.hasError('minlength')">
          <p>{{'ErroreMessage.minlength'|translate}} 6</p>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <button mat-raised-button class="login-form-button">
    {{'Order.userData.update'|translate}}</button>
</form>