<ngx-spinner bdColor="rgba(0, 0, 0, 0.3)" size="medium" color="#fff" type="ball-spin">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
<div class="user-datas">
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <div class="login-form">
      <div class="form-1">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label class="label"> {{'Order.userData.frstName'| translate}} </mat-label>
          <input type="text" matInput formControlName="frstName" id="frstName" [errorStateMatcher]="matcher" trim>
          <mat-error *ngIf="this.validateForm.get('frstName')?.hasError('required')">
            <p class="errore">{{'ErroreMessage.required'|translate}}</p>
          </mat-error>
          <mat-error *ngIf="this.validateForm.get('frstName')?.hasError('minlength')">
            <p class="errore">{{'ErroreMessage.minlength'|translate}} 3</p>
          </mat-error>
          <mat-error *ngIf="this.validateForm.get('frstName')?.hasError('maxlength')">
            <p class="errore">{{'ErroreMessage.maxLength'|translate}} 3</p>
          </mat-error>
          <mat-error *ngIf="this.validateForm.get('frstName')?.hasError('userNameChar')">
            <p class="errore">{{'ErroreMessage.userNameChar'|translate}}</p>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label class="label">{{'Order.userData.lastName'|translate}}</mat-label>
          <input type="text" matInput formControlName="last" id="last" trim [errorStateMatcher]="matcher">
          <mat-error *ngIf="this.validateForm.get('last')?.hasError('required')">
            <p class="errore">{{'ErroreMessage.required'|translate}}</p>
          </mat-error>
          <mat-error *ngIf="this.validateForm.get('last')?.hasError('minlength')">
            <p class="errore">{{'ErroreMessage.minlength'|translate}} 3</p>
          </mat-error>
          <mat-error *ngIf="this.validateForm.get('last')?.hasError('maxlength')">
            <p class="errore">{{'ErroreMessage.maxLength'|translate}}</p>
          </mat-error>
          <mat-error *ngIf="this.validateForm.get('last')?.hasError('userNameChar')">
            <p class="errore">{{'ErroreMessage.userNameChar'|translate}}</p>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label class="label">{{'Order.userData.addres'|translate}}</mat-label>
          <input matInput type="text" formControlName="addres" id="add" [errorStateMatcher]="matcher">
          <mat-error *ngIf="this.validateForm.get('addres')?.hasError('required')">
            <p class="errore">{{'ErroreMessage.required'|translate}}</p>
          </mat-error>
        </mat-form-field>
        <!-- <mat-form-field appearance="fill" class="full-width">
          <mat-label class="label">{{'Order.userData.email'|translate}}</mat-label>
          <input type="email" matInput formControlName="email" id="email" [errorStateMatcher]="matcher" trim>
          <mat-error *ngIf="this.validateForm.get('email')?.hasError('required')">
            <p class="errore">{{'ErroreMessage.required'|translate}}</p>
          </mat-error>
          <mat-error *ngIf="this.validateForm.get('email')?.hasError('isEmail')">
            <p class="errore">{{'ErroreMessage.isEmail'|translate}}</p>
          </mat-error>
        </mat-form-field> -->
        <button type="button" (click)="openEmail()"
         mat-raised-button class="login-form-button width">
          change email
        </button>
      </div>
      <div class="form-1">
        <mat-form-field appearance="fill">
          <mat-label class="label">Input disabled</mat-label>
          <input matInput [max]="currentDate" [matDatepicker]="dp3" formControlName='date'>
          <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
          <mat-datepicker #dp3 disabled="false"></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label class="label">{{'Order.userData.phoneNumber'|translate}}</mat-label>
          <input matInput type="tel" mask='(000)00-00-00' formControlName="phoneNumber" id="phoneNumber"
            [errorStateMatcher]="matcher">
          <mat-error *ngIf="this.validateForm.get('phoneNumber')?.hasError('required')">
            <p class="errore">{{'ErroreMessage.required'|translate}}</p>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label class="label">{{'Order.userData.country'|translate}}</mat-label>
          <mat-select formControlName='country'>
            <img src="./assets/1x/right-arrow.png" class="rightImg1">
            <img src="./assets/1x/right-arrow.png" class="rightImg2">
            <mat-optgroup *ngFor='let country of frames.selectedValue' [label]='country["name_"+frames.lang]'>
              <mat-select class="city">
                <mat-optgroup *ngFor='let regions of country.country_regions' [label]='regions["name_"+frames.lang]'>
                  <mat-option *ngFor='let city of regions.region_cities' [value]='city.id'>
                    {{city["name_"+frames?.lang]}}
                  </mat-option>
                </mat-optgroup>
              </mat-select>
              <mat-error *ngIf="this.validateForm.get('country')?.hasError('required')">
                <p>{{'ErroreMessage.required'|translate}}</p>
              </mat-error>
            </mat-optgroup>
          </mat-select>
        </mat-form-field>
        <button type="button" (click)="openPassword()" mat-raised-button class="login-form-button width">
          change password
        </button>
      </div>
    </div>
    <button mat-raised-button class="login-form-button">
      {{'Order.userData.update'|translate}}</button>
  </form>
</div>