.form{
  margin: 180px auto;
  border-radius: 20px;
  box-shadow: 3px 2px 22px 0 #575757;
  padding: 30px;
}

.login-form{
  display: flex;
  justify-content: space-around;
}

.form-1{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.login-form-button{
  display: block;
  margin: 20px auto;
}

:host ::ng-deep.mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 4px 4px 0 0;
  padding: 0x !important;
  height:40px !important;
}

.mat-form-field {
  width: 250px;
}

:host::ng-deep.mat-form-field-appearance-fill .mat-form-field-infix {
  width: 200px;
}

@media (max-width:1250px){
  .form{
    max-width: 770px;
  }
 
}

:host::ng-deep{
  @media (max-width:1025px){

    .anticon.ng-star-inserted.anticon-check-circle-fill{
      margin-left: -160px !important;
    }
    
    .anticon-close-circle-fill.ng-star-inserted{
      margin-left: -160px !important;
    }
  }
}

:host::ng-deep{
  @media (max-width:768px){
    .form{
      max-width: 500px;
    }

    .login-form{
      display: flex;
      flex-direction: column;
      align-items: center;
      
    }

    .anticon.ng-star-inserted.anticon-check-circle-fill{
      margin-left: -30px !important;
    }
    
    .anticon-close-circle-fill.ng-star-inserted{
      margin-left: -30px !important;
    }
  }
}

:host::ng-deep{
  @media (max-width:426px){
    
    .anticon.ng-star-inserted.anticon-check-circle-fill{
      margin-left: -40px !important;
    }
    
    .anticon-close-circle-fill.ng-star-inserted{
      margin-left: -40px !important;
    }
  }
}