<article infinite-scroll [infiniteScrollDistance]="scrollDistance" [infiniteScrollUpDistance]="scrollUpDistance"
    [infiniteScrollThrottle]="throttle" (scrolled)="onScrollDown($event)">
    <div class="main">
        <div class="img-idea" *ngFor='let img of ideaImages,let i = index'>
            <div class="imgs" [style.background-image]="'url('+ img.image + ')'">
            </div>
            <div class="idea-info">
                <div class="titles" (click)="imgInfo(img)">
                    <p class="img-title">{{img.created_frame_category_details.name_hy}} </p>
                    <p class="img-title">{{img.price}}դր</p>
                </div>
                <div class="order" (click)="addOrder(i)">
                    <img src="./assets/1x/orderIconWhite.png">
                </div>
              
            </div>
        </div>
    </div>
</article>