<div class="modal-header">
    <h4 class="color">Change password</h4>
    <button type="button" class="btn-close close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span class="spanClose">&#10006;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="newPassword">
        <div class="password-form">
            <mat-form-field appearance="fill" class="full-width">
                <mat-label class="label">{{'Order.userData.password'|translate}}</mat-label>
                <!-- <fa-icon class="icon action" [icon]="faEye"></fa-icon> -->
                <fa-icon [icon]="faEye"></fa-icon>

                <input matInput formControlName="newPass" id="pas" type="password" trim [errorStateMatcher]="matcher">
                <mat-error *ngIf="this.newPassword.controls['newPass'].hasError('required')">
                    <p class="errore">{{'ErroreMessage.required'|translate}}</p>
                </mat-error>
                <mat-error *ngIf="this.newPassword.controls['newPass'].hasError('minlength')">
                    <p class="errore">{{'ErroreMessage.minlength'|translate}} 6</p>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width">
                <mat-label class="label">{{'Order.userData.password'|translate}}</mat-label>
                <input matInput formControlName="reapetPass" id="pas" type="password" trim
                    [errorStateMatcher]="matcher">
                <mat-error *ngIf="this.newPassword.controls['reapetPass'].hasError('required')">
                    <p class="errore">{{'ErroreMessage.required'|translate}}</p>
                </mat-error>
                <mat-error *ngIf="this.newPassword.controls['reapetPass'].hasError('minlength')">
                    <p class="errore">{{'ErroreMessage.minlength'|translate}} 6</p>
                </mat-error>
            </mat-form-field>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" mat-raised-button class="login-form-button" (click)="changePassword()">
        Change
    </button>
</div>